<div class="outer">

<div class="container">
    <div class="verify-password m-3 p-4" >
       <form [formGroup]="verifyPassword" (ngSubmit)="verAdPassword()">
        <h4>Verify Your Password</h4>
                <div class="form-group">
                    <label>Enter Your Password</label><br/>
                    <input type="password"  formControlName="password" class="form-control" [ngClass]="{
                        'is-invalid':submitted && err.password.errors}"/>
                        <div *ngIf=" submitted && err.password.errors">
                            <div
                            *ngIf="err.password.errors?.required">
                             Required! 
                            </div>
                        </div>
                    </div>
                    <div class="verifybutton">
                        <button type="submit" class="btn btn-primary btn-block mt-4 ">Verify Password</button>
                   </div>
                           
       </form>
    </div>
</div>

</div>
