.spacer{
   flex:1 1 auto; 
}
.spacer2{
    margin:8px 8px 8px 8px;
}
mat-toolbar{
    background-color:#0066CC;
    color:white;
    position:sticky;
    height:50px;
    
}
.main-icon{
  
    padding:10px;
    margin-left:40px;
    
}
