<div class="outer">

    <div class="container">
        <div class="verify-password m-3 p-4" >
           <form [formGroup]="changePassword" (ngSubmit)="resetPassword()">
            <h4>Change Your Password</h4>
                    <div class="form-group">
                        <label>Enter Your new Password</label><br/>
                        <input type="password" class="form-control" formControlName="newpassword" [ngClass]="{
                            'is-invalid':submitted && err.newpassword.errors}"/>
                            <div *ngIf=" submitted && err.newpassword.errors" >
                                <div
                                *ngIf="err.newpassword.errors?.required">
                                 Required! 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label><br/>
                            <input type="password" class="form-control" formControlName="confirmpassword" [ngClass]="{
                                'is-invalid':submitted && err.confirmpassword.errors}"/>
                                <div *ngIf=" submitted && err.confirmpassword.errors">
                                    <div
                                    *ngIf="err.confirmpassword.errors?.required">
                                     Required! 
                                    </div>
                                </div>
                                <div *ngIf="changePassword.get('confirmpassword').errors?.confirmPasswordValidator">Passsword and
                                    Confirm Password didn't match. </div>
                            </div>
                        <div class="verifybutton">
                            <button type="submit" class="btn btn-primary btn-block mt-4 ">Change Password</button>
                       </div>
                               
           </form>
        </div>
    </div>
    
    </div>
    
